body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  #card {
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-columns: 1fr 4fr;
    margin-top: 100px;
    background-color: aliceblue;
    height: 700px;
    width: 1200px;

    #header {
      grid-column: 1/3;
      box-sizing: border-box;
      display: flex;
      padding: 20px;
      justify-content: space-between;
      background-color: rgb(107, 184, 251);
      font-size: 25px;
    }
    #sidebar {
      box-sizing: border-box;
      padding: 5px;
      display: flex;
      flex-direction: column;
      grid-row: 2/3;
      margin: 0;
      width: 100%;
      height: 100%;
      background-color: aquamarine;
        .projectFolder{
          background-color: antiquewhite;
          font-size: 15px;
          display: inline-block;
          &:hover{
            cursor: pointer;
          }
        }  
      #newFolderBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        #newFolderButtons{
          display: flex;
          column-gap: 15px;
          margin: 5px;
        }
      }
    }
    #content-card {
      box-sizing: border-box;
      position: relative;
      background-color:antiquewhite;
      display: flex;
      flex-direction: column;
      grid-column: 2/3;
      padding: 8px;
      
      #content-card-buttons{
        display:flex;
        justify-content: flex-end;
        padding: 5px;
        align-items: center;
        column-gap: 10px;
        #addToDoItem{
          font-size: 25px;
          border-radius: 15px;  
        }
      }  
    }
    #content {
      box-sizing: border-box;
      padding: 5px;
      background-color:rgb(255, 249, 242);
      width: 100%;
      height: 100%;
      position: relative;
      .toDoProj{
        display: flex;
        background-color: white;
        justify-content: space-between;
        padding: 5px;
        align-items: center;
        border: 1px solid black;
        #leftsideProj{
          display: flex;
          column-gap: 10px;
        }
        #rightsideProj{
          display: flex;
          column-gap: 10px;
        }
      }
      #formBox {
        opacity: 0%;
        position: absolute;
        left: 200px;
        top: 170px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: aqua;
        justify-content: center;
        align-items: center;
        padding: 10px;
        z-index: -1;

        #modalForm {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          z-index: -1;
        }
      }
      #noteBox {
        opacity: 0%;
        position: absolute;
        left: 200px;
        top: 170px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: aqua;
        justify-content: center;
        align-items: center;
        padding: 10px;
        z-index: -1;
        #noteForm {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
      #modalDetails{
        opacity: 0%;
        position: absolute;
        left: 200px;
        top: 170px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: aqua;
        justify-content: center;
        align-items: center;
        padding: 10px;
        z-index: -1;
      }
    }
  }
  #footer {
    background-color: aliceblue;
    border-radius: 15px;
    bottom: 0px;
    opacity: 65%;
    color: rgb(107, 184, 251);
    padding: 5px 20px 5px 20px;
    text-align: center;
    position: fixed;
  }
}
